pipeline/ADXIngestAppTables_seqnum.json
{
	"name": "ADXIngestAppTables_seqnum",
	"properties": {
		"activities": [
			{
				"name": "ADX Load TestAppTable",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".set-or-append TestAppData <|\n    TestTable2\n    | where EventSequenceNumber > toint(\"@{activity('Lookup1').output.firstRow.EventSequenceNumber}\")\n    | project EventSequenceNumber , Metric , Value",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDataExplorerSource",
						"query": "TestAppData\n| top 1 by EventSequenceNumber desc \n| project EventSequenceNumber",
						"queryTimeout": "00:10:00"
					},
					"dataset": {
						"referenceName": "AzureDataExplorerTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}